* {
    box-sizing: border-box;
}


::selection {
    background: #a2c238;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #333;
}

a {
    color: black;
    text-decoration: none;
}

.contenedor-cuerpo {
    padding: 20px;
}

/* Barra de navegacion */

.img-logo-barra-navegacion {
    width: 250px;
    max-width: 100%;
}

.contenedor-barra-navegacion {
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    display: flex;
    /* Elementos en cada extremo. */
    justify-content: space-between;
    /* Elementos centrados verticalmente. */
    align-items: center;
    /*El contenedor se queda fijo al scrolear. */
    position: sticky;
    /*Punto vertical donde se pega el elemento*/
    top: 0;
    /* Seleccionando la capa mas alta.*/
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.lista-navegacion {
    display: flex;
    /*Distancia entre las etiquetas a*/
    gap: 20px;
}

.lista-navegacion a {
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    /*Aplica un efecto suave al pasar por el elemento. a*/
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.lista-navegacion a:hover {
    background-color: rgb(162, 194, 56);
    color: white;
    border-radius: 5px;
}

/*---------------------------------------------------------------------*/


/* Carrusel imagenes */

.carrusel-imagenes {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.carrusel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.7s;
}

.carrusel-slide.active {
    opacity: 1;
    z-index: 1;
}

.carrusel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    background: transparent;
    color: #888888;
    border: none;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    transition: background 0.2s, color 0.2s, transform 0.15s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrusel-btn:hover,
.carrusel-btn:focus {
    transform: translateY(-50%) scale(1.15);
}

.carrusel-btn.prev {
    left: 15px;
}

.carrusel-btn.next {
    right: 15px;
}

.carrusel-dots {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;
}

.carrusel-dots .dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.2s, background 0.2s;
    background: #888888;
}

.carrusel-dots .dot.active {
    opacity: 1;
    background: #888888;
}

.carrusel-imagenes img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block
}

/*---------------------------------------------------------------------*/


/* Productos */

.contenedor-principal-productos {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

.nombre-categoria-productos {
    background-color: #eb9e00;
    padding: 20px 50px;
    font-size: 50px;
    text-align: left;
    color: #f1f1f1;
}

.contenedor-secundario-productos {
    display: flex;
    gap: 40px;
    justify-content: center;
    border-radius: 5px;
    flex-wrap: wrap;
}

.contenedor-categoria-producto {
    background-color: #ffffff;
    width: 100%;
    /* Ocupa todo el contenedor. */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.titulo-categoria h4 {
    color: #333;
    font-size: 45px;
    text-align: center;
    width: auto;
}

.contenedor-producto {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
}

.marco-imagen {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.marco-imagen img {
    max-width: 100%;
    height: auto;
    display: block;
}

.marco-imagen:hover {
    transform: translateY(-5px);
}

.marco-imagen:hover {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}



/*---------------------------------------------------------------------*/


/* Contacto */
.contenedor-principal-contacto {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.info {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 100px;
    text-align: center;
}

.contenedor-principal-contacto h2 {
    text-align: left;
    font-size: 40px;
    color: #333;
}

.formulario-distribucion {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 30px;
    gap: 80px;
}

.info h4 {
    color: #000000;
    font-weight: normal;
    font-size: 30px;
}

.parteIzquierda {
    flex: 1;
}

.parteDerecha {
    flex: 1;
}

.parteIzquierda h4 {
    text-align: left;
}



.formulario-principal {
    border: none;
}

.custom-field {
    display: flex;
    width: 100%;
    /* Ocupa todo el ancho del contenedor */
    flex-direction: column;
    position: relative;
    /* Formulario detras de.. */
    font-size: 20px;
    margin-bottom: 20px;
}

.custom-field input {
    appearance: none;
    border: 2px solid #ddd;
    padding: 14px 12px 14px 12px;
    border-radius: 3px;
    height: 70px;
    outline: none;
    /* Borde de enfoque */
    transition: border-color 0.3s ease;
    /* <-- */
    font-size: 14px;
}

.custom-field .placeholder {
    position: absolute;
    /* Promp text delante */
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    /* No responde a clics ni interacciones del mouse */
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease,
        background 0.3s ease;
    background: white;
    padding: 0 3px;
}

/* La propiedad transition se activa cuando se hace uso de Pseudoclases */

.custom-field input:focus+.placeholder,
/* Se aplica al place holder */
.custom-field input:valid+.placeholder {
    top: 0px;
    font-size: 15px;
    color: #333;
}

.custom-field input:valid,
.custom-field input:focus {
    /*S Se aplica al input */
    border-color: #333;
    transition-delay: 0.1s;
    /* Retraso de la transicion */
}

.boton button {
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    padding: 10px 70px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    justify-content: center;
    background-color: #a2c238;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.boton button:hover {
    transform: translateY(-5px);
}



.parteDerecha h4 {
    text-align: center;
}

.parteDerecha iframe {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
    border-radius: 5px;
    height: 500px;
    min-width: 200px;
}

.info-com h2 {
    text-align: center;
}

.info-com {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 10%;
}

.contenedor-img img {
    width: 150px;
    height: auto;
}

/*---------------------------------------------------------------------*/

/* Acerca de nosotros */

.acerca-de-contenido {
    background-color: #ffffff;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 10px 20px;
}

.acerca-de-contenido article {
    width: 550px;
    max-width: 100%;
    max-height: 100%;
    height: 700px;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.acerca-de-contenido h3 {
    color: rgb(129, 95, 79);
    font-size: 40px;
    margin: 5% 2%;
}

.acerca-de-contenido p {
    font-size: 30px;
}

.contenedor-img-nosotros {
    display: flex;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    align-items: center;
}

.contenedor-img-nosotros img {
    max-width: 100%;
    height: auto;
}


.redes-sociales {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */
    flex-wrap: wrap;
    gap: 50px;
}

.redes-sociales a {
    font-size: 20px;
}

.redes-sociales img {
    margin-bottom: -13px;
    margin-right: 12px;
    text-align: center;
}


/*---------------------------------------------------------------------*/

/*FOOTER*/

.footer_info {
    margin-top: 2%;
    background-color: rgb(129, 95, 79);
    padding: 20px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

/*---------------------------------------------------------------------*/

@media (max-width:798px) {

    h1 {
        font-size: 3rem;
    }

    /* Barra de navegacion */
    .contenedor-barra-navegacion {
        /* Elementos ordenados de manera vertical*/
        flex-direction: column;
        gap: 15px;
        min-height: 100px;
    }

    .lista-navegacion {
        /* Elementos ordenados de manera vertical*/
        flex-direction: column;

    }

    .lista-navegacion a {
        font-size: 15;
        display: block;
        width: 100;
        text-align: center;
    }

    /*---------------------------*/

    /* Carrusel imagenes */

    .carrusel-btn {
        font-size: 2rem;
    }

    .carrusel-dots .dot {
        width: 11px;
        height: 10px;
    }

    .carrusel-imagenes {
        height: 350px;
    }

    /*---------------------------*/

    /* Productos */

    h1 {
        font-size: 2.5rem;
    }

    .titulo-categoria h4 {
        font-size: 2.4rem;
    }

    .nombre-categoria-productos {
        font-size: 2rem;
    }

    /*---------------------------*/


    /* Contacto */
    .contenedor-principal-contacto h2 {
        text-align: left;
        font-size: 34px;
        color: #333;
    }

    .parteDerecha iframe {
        height: 300px;
    }


    .custom-field input {
        height: 50px;
    }

    .custom-field {
        font-size: 15px;
    }

    .custom-field input:focus+.placeholder,
    .custom-field input:valid+.placeholder {
        font-size: 10px;
    }


    .boton button {
        width: 250px;
        height: 40px;
        font-size: 15px;
    }

    .contenedor-img img {
        width: 100px;
        height: auto;
    }

    .info-com h2 {
        text-align: center;
        font-size: 25px;
    }

    .info h4 {
        font-size: 20px;
    }

    /*---------------------------*/



}

@media(max-width:425px) {

    .formulario-distribucion {
        gap: 10px;
    }

    .acerca-de-contenido p {
        font-size: 25px;
    }

    .footer_info {
        margin-top: 30px;
    }

    .carrusel-imagenes {
        height: 150px;
    }

}

@media(max-width:375px) {

    .titulo-categoria h4 {
        font-size: 20px;
    }

    .acerca-de-contenido article {
        height: 600px;
    }

}

@media(max-width:320px) {


    .custom-field input {
        height: 40px;
        width: 175px;
    }

    .custom-field {
        font-size: 10px;
    }

    .boton button {
        height: 40px;
        width: 175px;
        font-size: 10px;
    }


    .custom-field input:focus+.placeholder,
    .custom-field input:valid+.placeholder {
        font-size: 10px;
    }
}